@import '../../shared.scss';

.movie-card {
    width: 100%;
    margin: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    &:hover {
        transform: scale(0.98);
    }

    &.clicked {
        animation: pop 0.2s ease-out;
    }

    &.card-dark {
        background-color: #181818;
    }

    @keyframes pop {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.96);
        }

        100% {
            transform: scale(1);
        }
    }

    img,
    .skeleton-image {
        width: 100%;
        object-fit: cover;
        height: 80%;
        min-height: 230px;
        // max-height: 420px;
        
        @media (min-width: 640px) {
            min-height: 420px;
        }
    }

    div {

        font-size: 1rem;
        display: flex;
        justify-content: space-between;

        h2,
        .skeleton-h2 {
            font-family: $font-secondary;
            color: $color-primary;
            margin: 1rem 1rem;
            font-size: 1.25rem;

            @media (min-width: 1280px) {
                font-size: 1.5rem;
            }
        }

        div {
            display: flex;
            align-items: center;

            p,
            .skeleton-p {
                font-weight: bold;
                font-size: 1rem;
                margin: 1rem 1rem;
                font-size: 1rem;
            }
        }


    }
}