@import '../../shared.scss';

.movies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: $space-sm;
    margin: $h-nav / 2 $space-sm;

    .no-search {
        margin: 0;
        font-size: 1.25rem;
    }

}