@import '../../shared.scss';

.movies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: $space-sm;
    margin: calc($h-nav / 2) $space-sm;

    .no-search {
        margin: 0;
        font-size: 1.25rem;
    }

}

@media (min-width: 640px) { 
    .movies-grid {
        // grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 767px) { 
    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .movies-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}