@import '../../shared.scss';

.hero-search {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin: $h-nav $space-sm calc($h-nav/2) $space-sm;

    @media (min-width: 640px) {
        margin: $h-nav 64px calc($h-nav/2) 64px;
    }

    @media (min-width: 1280px) {
        margin: $h-nav 80px calc($h-nav/2) 80px;
    }

    h1 {
        font-family: $font-secondary;
        font-size: 6rem;
        margin: 0;
        font-weight: 600;
        line-height: 5rem;
        color: $color-primary;
    }

    p {
        font-size: 1.25rem;
    }

    .hero-div {
        display: flex;

        .hero-left {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
        }

        .hero-right {
            display: none;
        }

        @media (min-width: 1280px) {

            .hero-left {
                width: 60%;
            }

            .hero-right {
                display: block;
                position: relative;
                width: 40%;
                padding-left: 3rem;
                height: 500px;


                .fake-movie-card {
                    position: absolute;
                    background-color: #181818;

                    width: 260px;
                    height: 410px;

                    img {
                        max-height: 330px;
                        min-height: unset;
                    }

                    h2 {
                        font-size: 1.25rem;
                    }

                    &:nth-of-type(1) {
                        transform: rotate(-28deg) translate(11px, 25px) scale(0.85);
                    }

                    &:nth-of-type(2) {
                        transform: rotate(-10deg) translate(135px, 22px) scale(0.95);
                    }

                    &:nth-of-type(3) {
                        transform: rotate(0deg) translate(228px, 10px);
                    }
                }
            }
        }

    }


    .hero-form {
        width: 100%;
        display: flex;

        form {
            width: 100%;

            input {
                height: 3rem;
                width: 100%;
                padding: 1rem;
                font-size: 1.25rem;
                font-family: $font-main;
            }
        }
    }
}