$font-main: 'Inter', sans-serif;
$font-secondary: 'Sofia Sans Extra Condensed', sans-serif;

$color-primary: #007aff;
$color-secondary: rgb(217, 235, 255);
$color-text: #828282;

$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 1.5rem;

$h-nav: 3.5rem;
$h-btn-sm: 2.5rem;